@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search {
  position: relative;
  width: 60vw;
}

#borderW {
  width: inherit;
}

.search .directionsButton {
  position: absolute;
  top: 2px;
  right: 7px;
  font-size: 25px;
  color: #1b55db;
}

table {
  margin-left: auto;
  margin-right: auto;
}
/* 
@media only screen and (max-width: 500px) {
  .mainForm {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .search {
    width: 70vw;
  }
} */

#borderW {
  background-color: aqua;
}
